.fl{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  
    
}

/* .fi{
    
} */
/* @keyframes example {
    0%   {font-size: small;}
    25%  {font-size: smaller;}
    50%  {font-size: medium;}
    100% {font-size: default;}
  } */
.cf{
    margin: 9.25rem auto;
    border-radius: 7px;
  
}

/* #fg{
    animation-name: example;
    animation-delay: 2s;
} */

#fc:hover{
    transform: rotateZ(2deg);
}
.card-img-top{
    width: auto;
    height: 200px;
}



.card-img-top:hover{
    transform: rotateZ(2deg);
}


#fc{
    position: absolute;
    top: 78px;
    color: azure;
   
    
}

