.fl{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  
    
}


.cf{
    margin: 9.25rem auto;
    border-radius: 7px;
 
}



#fc:hover{
    /* transform: rotateZ(2deg); */
}
.card-img-top{
    width: auto;
    height: 200px;
    /* object-fit:cover; */
}



.card-img-top:hover{
    /* transform: rotateZ(2deg); */
    scale: 1.03;
}


#fc{
    position: absolute;
    top: 78px;
    color: azure;
   
    
}
@media only screen and (max-width: 767px) {
   #fc{
   margin-top: 30px;
  
  }
  }
@media only screen and (max-width: 1200px) {
   #fc{
   margin-top: 45px;
  
  }
  }
  @media only screen and (max-width: 536px) {
   #fc{
    margin-top: 75px;
   }
  }

