.fl{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  
    
}


.cf{
    margin: 9.25rem auto;
    border-radius: 7px;
  
}


#fc:hover{
    transform: rotateZ(2deg);
}
.card-img-top{
    width: auto;
    height: 200px;
}



.card-img-top:hover{
    transform: rotateZ(2deg);
}


#fc{
    position: absolute;
    top: 78px;
    color: azure;
   
    
}

